{
   "help":{
      "enabled":true,
      "adminsonly":false
   },
   "test":{
      "enabled":true,
      "adminsonly":false
   },
   "dice":{
      "enabled":true,
      "adminsonly":false
   },
   "oxygen":{
      "enabled":true,
      "adminsonly":false
   },
   "coin_toss":{
      "enabled":true,
      "adminsonly":false
   },
   "reverse":{
      "enabled":true,
      "adminsonly":false
   },
   "info":{
      "enabled":true,
      "adminsonly":false
   },
   "avatar":{
      "enabled":true,
      "adminsonly":false
   },
   "rps":{
      "enabled":true,
      "adminsonly":false
   },
   "say":{
      "enabled":true,
      "adminsonly":false
   },
   "list_meeps":{
      "enabled":true,
      "adminsonly":false
   },
   "mca":{
      "enabled":true,
      "adminsonly":false
   },
   "translate":{
      "enabled":true,
      "adminsonly":false
   },
   "figlet":{
      "enabled":true,
      "adminsonly":false
   },
   "purge":{
      "enabled":true,
      "adminsonly":true
   },
   "beauty":{
      "enabled":true,
      "adminsonly":false
   },
   "protecc":{
      "enabled":true,
      "adminsonly":false
   },
   "list_crime":{
      "enabled":true,
      "adminsonly":false
   },
   "set_crime":{
      "enabled":true,
      "adminsonly":false
   },
   "change_crime":{
      "enabled":true,
      "adminsonly":false
   },
   "shutdown":{
      "enabled":true,
      "adminsonly":true
   },
   "getuserdata":{
      "enabled":true,
      "adminsonly":true
   },
   "setuserdata":{
      "enabled":true,
      "adminsonly":true
   },
   "execute":{
      "enabled":true,
      "adminsonly":true
   },
   "reload":{
      "enabled":true,
      "adminsonly":true
   }
}