{
   "help":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "test":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "dice":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "oxygen":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "coin_toss":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "reverse":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "info":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "avatar":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "rps":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "say":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "list_meeps":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "mca":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "translate":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "figlet":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
	 "wikipedia":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "scp":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },


   "beauty":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "protecc":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
	 "deepfry":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },

   "rickroll":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 600
   },
   "play":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 10
   },
   "s":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "disconnect":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },


   "list_crime":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "set_crime":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },
   "change_crime":{
      "enabled":true,
      "adminsonly":false,
      "cooldown": 0
   },


   "shutdown":{
      "enabled":true,
      "adminsonly":true,
      "cooldown": 0
   },
   "nickname":{
      "enabled":true,
      "adminsonly":true,
      "cooldown": 0
   },
   "purge":{
      "enabled":true,
      "adminsonly":true,
      "cooldown": 0
   },
   "execute":{
      "enabled":true,
      "adminsonly":true,
      "cooldown": 0
   }
}
